$week: (
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);

body {
  margin: 0;
}

.calendar {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 300px;

  div {
    display: flex;
    justify-content: center;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #eee;
    border: 1px solid black;
    width: 100px;
    height: 100px;

    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.calendar div:hover {
  background-color: pink;
  position: relative;
  bottom: 20px;
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 28 to 31 {
  .calendar-#{$i} div:nth-child(n + #{$i + 1}) {
    display: none;
  }
}
@each $day, $value in $week {
  .calendar-#{$day} div:first-child {
    margin-left: ($value * 102px)+1px;
  }
}
